@page "/requests"

@using BackOffice.Client.Services
@using BackOffice.Shared.Models
@using System.Formats.Asn1

@inject IDialogService DialogService
@inject IRequestService RequestService;

<h3>Requests</h3>

<div class="d-flex justify-end flex-grow-1 gap-4 pb-2">
    <MudButton Variant="Variant.Filled"
               OnClick="@(_ => OpenModal(null))"
               StartIcon="@Icons.Material.Filled.AddChart"
               Color="Color.Dark">
        Add Request
    </MudButton>
</div>

<MudTable Items="@_requests" Loading="_isLoading" T="RequestModel" Elevation="1" Dense="@dense" Hover="@hover" OnRowClick="OnRowClick" Bordered="@bordered" Filter="new Func<RequestModel,bool>(FilterFunc1)" Striped="@striped">
    <ToolBarContent>
        <div class="w-30">
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Class="text-center">ApplicationDateTime</MudTh>
        <MudTh Class="text-center">EventTime</MudTh>
        <MudTh Class="text-center">Description</MudTh>
        <MudTh Class="text-center">Location</MudTh>
        <MudTh Class="text-center">UserProfile</MudTh>
        <MudTh Class="text-end">Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ApplicationDateTime" Class="text-center">@context.ApplicationDateTime</MudTd>
        <MudTd DataLabel="EventTime" Class="text-center">@context.Event.EventTime</MudTd>
        <MudTd DataLabel="Description" Class="text-center">@context.Event.Description</MudTd>
        <MudTd DataLabel="Location" Class="text-center">
            @context.Event.Location.Name (@context.Event.Location.Adress)
        </MudTd>
        <MudTd DataLabel="UserProfile" Class="text-center">
            @context.UserProfile.FirstName @context.UserProfile.LastName @context.UserProfile.Email
        </MudTd>
        <MudTd Class="text-end">
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small">
                @* <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" OnClick="() => OpenModal(context)" /></MudMenuItem> *@
                <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" OnClick="() => Delete(context)" /></MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private bool _isLoading = false;
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";

    private static IEnumerable<RequestModel> _requests = new List<RequestModel>();

    readonly DialogOptions _modalOptions = new() { CloseButton = true };


    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        StateHasChanged();

        try
        {
            _requests = await RequestService.GetRequests();
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    async Task OnRowClick(TableRowClickEventArgs<RequestModel> args)
    {
        // await OpenModal(args.Item);
    }

    private async Task OpenModal(RequestModel? requestModel)
    {
        if (requestModel == null)
        {
            await ShowModal("Add Request");
        }
        else
        {
            var parameters = new DialogParameters<RequestModal.RequestModal> { { x => x.Request, requestModel } };
            await ShowModal("Edit Request", parameters);
        }
    }

    private async Task ShowModal(string title, DialogParameters<RequestModal.RequestModal>? parameters = null)
    {
        var dialog = parameters == null
            ? await DialogService.ShowAsync<RequestModal.RequestModal>(title, _modalOptions)
            : await DialogService.ShowAsync<RequestModal.RequestModal>(title, parameters, _modalOptions);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await OnInitializedAsync();
        }
    }

    private async Task Delete(RequestModel model)
    {
        await RequestService.DeleteRequest(model.Id.Value);
        await OnInitializedAsync();

    }

    private bool FilterFunc1(RequestModel role) => FilterFunc(role, searchString1);

    private bool FilterFunc(RequestModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.Number.HasValue && element.Number.Value == int.Parse(searchString))
        //     return true;
        return false;
    }
}
