<MudNavMenu>
    <div>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Dashboard</MudNavLink>
        <MudNavLink Href="users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Users</MudNavLink>
        <MudNavLink Href="roles" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ManageAccounts">Roles</MudNavLink>
        <MudNavLink Href="fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">Calendar</MudNavLink>
        <MudNavLink Href="locations" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LocationOn">Locations</MudNavLink>
        <MudNavLink Href="events" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Event">Events</MudNavLink>
        <MudNavLink Href="requests" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Addchart">Requests</MudNavLink>
    </div>
</MudNavMenu>