@using BackOffice.Client.Services.Implementation
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<MudThemeProvider Theme="_myCustomTheme" @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider FullWidth="true"
                   CloseButton="true"
                   DisableBackdropClick="false"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />

<MudSnackbarProvider />

<div class="page">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                 <MudAppBar Style="background-color: #27272f" Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
                @if (!_drawerOpen)
                {
                    <MudImage Src="Icons\sisbr-high-resolution-logo-white-transparent.svg" Style="height: 2.5rem;" Alt="Mony the dog" Class="rounded-sm ma-4"/>
                }
                <MudSpacer/>
                <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.ShieldMoon)" OnClick="@(ChangeToDarkMode)" Color="Color.Inherit" Target="_blank"/>
                <MudIconButton Icon="@Icons.Material.Filled.AccountBox" OnClick="@(OpenDrawer)" Color="Color.Inherit" Target="_blank"/>
            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
                <MudDrawerHeader>
                    <div class="d-flex justify-center flex-grow-1 gap-4">
                        @if (_isDarkMode)
                        {
                            <MudImage Src="Icons\sisbr-high-resolution-logo-white-transparent.svg" Style="height: 2.5rem;" Alt="Mony the dog" Class="rounded-sm ma-4"/>
                        }
                        else
                        {
                            <MudImage Src="Icons\sisbr-high-resolution-logo-black-transparent.svg" Style="height: 2.5rem;" Alt="Mony the dog" Class="rounded-sm"/>
                        }
                    </div>
                </MudDrawerHeader>
                <NavMenu/>
                <div class="bottom-container ">
                    <MudDivider Class="align-end"/>
                    <div class="d-flex justify-center flex-grow-1 gap-4">
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" OnClick="NavigateToRoles"></MudIconButton>
                        <MudSpacer/>
                        <MudIconButton Icon="@Icons.Material.Filled.Logout"></MudIconButton>
                    </div>
                </div>
            </MudDrawer>

            <MudDrawer @bind-Open="@_openEnd" Anchor="Anchor.End" Elevation="1" Variant="@DrawerVariant.Temporary">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">Profile</MudText>
                </MudDrawerHeader>
                <div class="d-flex justify-center mt-6">
                    <MudAvatar Style="height:135px; width:135px;" Size="Size.Small" Color="Color.Warning" Variant="Variant.Filled">
                        <MudImage Src="Icons\Cat.png" Alt="Cat profile" Height="100" Width="115" Elevation="25" Class="rounded-xl"/>
                    </MudAvatar>
                </div>
                <MudPaper Square="true" Class="mt-4" Elevation="0" Width="100%">
                    <MudList>
                        <MudListItem Text="@context.User.Identity?.Name" />
                        <MudListItem Text="*Name" />
                        <MudListItem Text="*Role" />
                    </MudList>
                </MudPaper>
                    <div class="bottom-container ">
                        <MudDivider Class="align-end" />
                        <div class="d-flex justify-center flex-grow-1 gap-4">
                            <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="LogoutClick"></MudIconButton>
                        </div>
                    </div>
            </MudDrawer>

            <MudMainContent>
                    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pr-8 pl-8 mt-16">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {

    bool _isDarkMode;
    bool _drawerOpen = true;
    bool _openEnd;

    void OpenDrawer()
    {
        _openEnd = true;
    }

    readonly MudTheme _myCustomTheme = new()
    {
        Palette = new PaletteLight
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Red.Default
        },
        PaletteDark = new PaletteDark
        {
            Primary = Colors.Blue.Lighten1
        },
    };

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void ChangeToDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        StateHasChanged();
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

    void NavigateToRoles()
    {
        navigationManager.NavigateTo("/roles");
    }
}

<style>
    .bottom-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>